<div style="margin-top: 10rem;">
    <hr/>
    <p style="text-align: center; font-size: 1.5rem">
        <a href="/">Home</a> | 
        <a href="/about">About</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/login">Login</a>
        <br/>
        &copy;2021 HNDC
    </p>
</div>

