<!DOCTYPE html>
<html>
    <head>
        <title>Add Course</title>
        <link rel="stylesheet" href="css/theme.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
      * {
        box-sizing: border-box;
      }
      .openBtn {
        display: flex;
        justify-content: left;
      }
      .openButton {
        border: none;
        border-radius: 5px;
        background-color: #1c87c9;
        color: white;
        padding: 14px 20px;
        cursor: pointer;
        position: fixed;
      }
      .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
      }
      .formPopup {
        display: none;
        position: fixed;
        left: 45%;
        top: 5%;
        transform: translate(-50%, 5%);
        border: 3px solid #999999;
        z-index: 9;
      }
      .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
      }
      .formContainer input[type=text],
      .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
      }
      .formContainer input[type=text]:focus,
      .formContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #8ebf42;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
      }
      .formContainer .cancel {
        background-color: #cc0000;
      }
      .formContainer .btn:hover,
      .openButton:hover {
        opacity: 1;
      }
    </style>

    </head>
    <body>
        {{> header user}}
        <div class="container">
            <br/>
            <h1>Add Course</h1>
            <br/>
            {{#if user.isManager}}
                <div class="row">
                    <main class="col-md-12">
                        <form method = "post" action = "/courses/add">
                            <fieldset>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Course Number</label>
                                            <input class="form-control" name = "courseId" type="text"/>
                                        </div>
                                    </div>
 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Course Name</label>
                                            <input class="form-control" name = "courseName" type="text"/>
                                        </div>
                                    </div>
                                </div>

                               <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Course Price:</label>
                                            <input class="form-control" name = "coursePrice" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>CreatedAt:</label>
                                            <input class="form-control" name = "createdAt" type="text"  />
                                        </div>
                                    </div>
                                   <div class="col-md-3">
                                        <div class="form-group">
                                            <label>updatedAt:</label>
                                            <input class="form-control" name = "updatedAt" type="text"  />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <hr />
                            <input type="submit" class="btn btn-primary float-right" value="Add Course" /><br /><br /><br />
                        </form>
                    </main>
                </div>
            {{else}}
                <p class="errorMsg">You are not authorized to see this page.</p>
            {{/if}}
        </div>
        {{> footer}}
    </body>
</html>